:root {
  line-height: 20px;
}

.test + .test {
  margin-top: 40px;
}

.label {
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  margin-bottom: 32px;
  color: gray;
  width: 600px;
}

.output {
  width: 600px;
  height: 92px;
}
.output:empty::before {
  content: "--";
}

.distribution {
  height: 20px;
  display: flex;
  gap: 12px;
  font-family: monospace;
}
.distribution[data-skipped] {
  color: gray;
}
.distribution + .distribution {
  margin-top: 4px;
}

.distribution .left {
  display: flex;
}

.distribution .right {
  flex-grow: 1;
  box-shadow: inset 0 0 0 1px black;
  padding: 0 4px;
}
.distribution[data-skipped] .right {
  box-shadow: none;
  padding: 0;
}

.distribution .percentile {
  position: absolute;
  z-index: 0;
  color: lightgray;
  transform: translateX(-50%);
}

.distribution .percentile.median {
  z-index: 1;
  color: black;
}

.distribution .percentile.overflow {
  display: none;
}

.distribution .min {
  position: absolute;
  top: -24px;
  left: 0;
}
.distribution .min::after {
  content: " (min)";
}

.distribution .max {
  position: absolute;
  top: -24px;
  right: 0;
}
.distribution .max::before {
  content: "(max) ";
}

.distribution:not(:first-child) .min,
.distribution:not(:first-child) .max {
  display: none;
}

#frame {
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  width: 200px;
  background-color: white;
  z-index: 1;
}

#frame:not([data-running]) {
  display: none;
}

details {
  margin-top: 32px;
}

p {
  width: 600px;
}
