:root {
  line-height: 20px;
}

.label {
  font-weight: bold;
}

.output {
  height: calc(20px * 3);
}

#fixture {
  height: calc(20px * 9);
  color: gray;
}

p {
  width: 70ch;
}

p:first-of-type {
  margin-top: 2em;
}
