# Publish package to npm.
#  See https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages
name: Publish to npm
on: [workflow_call]
jobs:
  main:
    runs-on: ubuntu-latest
    environment: npm-publish
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22.14'
          registry-url: 'https://registry.npmjs.org'
      - run: npm publish
        env:
          # The secrets should be implicitly passed via “secrets: inherit”.
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
