# Publish package to JSR.
name: Publish to JSR
on: [workflow_call]
jobs:
  main:
    runs-on: ubuntu-latest
    # TODO: Figure out whether an environment is appropriate here. This workflow
    #  is currently not called by the top-level publish.yaml flow.
    # environment: jsr-publish
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22.14'
          registry-url: 'https://registry.npmjs.org'
      # Can we get this to use “deno publish”?
      # - run: deno publish
      - run: npx jsr publish
